@media screen and (min-width:1024px) {

    /*　for PC　*/
    .inner {
        max-width: 936px;
        margin: 0 auto;
    }
    /* section-top */
    .top-time{
        font-size: 160px;
        font-weight: bold;
        letter-spacing: 12px;
    }
}