/* Case */

* {
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: hsla(255,100%,100%,1);
    color: hsla(0,10%,10%,1);
}
.inner {
    padding: 0 6%;
    margin: 0 auto;
}

section {
    min-height: 500px;
    padding: 64px 0;
}
/* section-top */
#top-time{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 12px;
}
.top-unit{
    font-size: 32px;
    font-weight: bold;
}