/* Case */

* {
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: hsla(255,100%,100%,1);
    color: hsla(0,10%,10%,1);
}
.inner {
    padding: 0 6%;
    margin: 0 auto;
}

section {
    min-height: 500px;
    padding: 64px 0;
}
/* header */
header{
    height: 120px;
    padding: 20px 0;
}
.nav_header img{
    width: 140px;
    height: auto;
}
/* section-top */
#section_top{
    position: relative;
}
.top-time{
    z-index: -1;
    position: absolute;
    color: lightgray;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 12px;
}
#top-time-hours{
    top: 0;
    left: 0;
}
#top-time-minutes{
    top: 60px;
    right: 0;
}
#top-time-seconds{
    bottom: 0;
    right: 80px;
}