@media screen and (min-width:1024px) {

    /*　for PC　*/
    .inner {
        max-width: 936px;
        margin: 0 auto;
    }
    /* section-top */
    .top-time{
        font-size: 160px;
        font-weight: bold;
        letter-spacing: 12px;
    }
    #top-time-hours{
        top: 0;
        left: 80px;
    }
    #top-time-minutes{
        top: 60px;
        right: 0;
    }
    #top-time-seconds{
        bottom: 0;
        right: 120px;
    }
    h1{
        font-size: 60px;
    }
}